<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a>
                    <span class="mx-2 mb-0">/</span>
                    <a href="/posts/list">게시글 목록</a>
                    <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">상세 보기</strong>
                </div>
            </div>
        </div>
    </div>

    <section class="single-block-wrapper section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="single-post" th:object="${board}">
                        <div class="post-header mb-5 text-center">
                            <div class="meta-cat">
                                <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1"
                                   href="#"></a>
                            </div>
                            <h2 class="post-title mt-2" th:text="${board.title}"></h2>

                            <div class="post-meta">
                                <span class="text-uppercase font-sm letter-spacing-1 mr-3" th:text="'BY.' + ${board.createdBy}"></span>
                                <span class="text-uppercase font-sm letter-spacing-1" th:text="${board.updateTime}"></span>
                            </div>
                        </div>
                        <div class="post-body">
                            <!-- th:text => 태그도 그냥 문자로 출력 -->
                            <!-- th:utext => 문자는 문자로, 태그는 태그로 출력 -->
                            <div class="col-md-6">
                                <div class="item-entry">
                                    <a href="#" class="product-item md-height bg-gray d-block">
                                        <img th:src = "${board.boardImgDtoList[0].imgUrl}" th:alt = "${board.title}" class="rounded repImg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="entry-content" th:utext="${board.content}"></div>
                            </div>
                            <div
                                    class="tags-share-box center-box d-flex text-center justify-content-between border-top border-bottom py-3">
                                <span class="single-comment-o"><i class="fa fa-comment-o"></i></span>

                                <!-- 세션으로 아이디 넘겨줘서 수정하기 가능하게?필요없나?-->
                                <div class="list-posts-share">
                                    <a style="cursor:pointer;" th:href="'/posts/rewrite/' + ${board.id}">수정</a>
                                    <a style="cursor:pointer;">삭제</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center" th:each="boardImg : ${board.boardImgDtoList}">
                                <img class="rounded mgb-15" width="800" th:if="${not #strings.isEmpty(boardImg.imgUrl)}"
                                     th:src = "${boardImg.imgUrl}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</html>