<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<div layout:fragment="content">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">게시판 목록</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <!-- Content Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h3 mb-3 text-black">게시글</h2>
                    <form th:action="@{'/posts/list/' + ${boards.number}}"
                          method="get" th:object="${boards}">
                        <table class="table table-responsive-md">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">제목</th>
                                <th scope="col">분류</th>
                                <th scope="col">등록자</th>
                                <th scope="col">등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board, status: ${boards.getContent()}">
                                <th th:text="${board.id}" scope="row"></th>
                                <td>
                                    <a th:href="'/posts/detail/' + ${board.id}"
                                       th:text="${board.title}">
                                    </a>
                                </td>
                                <td th:text="${board.boardTypeStatus}"></td>
                                <td th:text="${board.createdBy}"></td>
                                <td th:text="${board.regTime}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- 페이징버튼 -->
                        <!-- start = (현재 페이지 번호/보여줄 페이지수) * 보여줄 페이지수 + 1, 페이지 시작번호 -->
                        <!-- end = start + (보여줄 페이지수 - 1), 페이지 끝번호 -->
                        <!--
                                끝번호가 전체페이지보다 작으면 그냥 끝번호를 쓴다
                                예) 전체 페이지 7, 끝번호 5
                                ◀ 1 2 3 4 5 ▶
                                ◀ 6 7
                           -->
                        <nav aria-label="Page navigation example"
                             th:with="start=${(boards.number/maxPage) * maxPage + 1},
                end= (${(boards.totalPages == 0) ? 1 : (start + (maxPage - 1) < boards.totalPages ? start + (maxPage - 1) : boards.totalPages)}) "
                        >
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-item" th:classappend="${boards.first} ? ' disabled'">
                                    <a class="page-link"
                                       th:onclick="'javascript:page(' + ${boards.number - 1} + ')'"
                                    >이전</a>
                                </li>

                                <li class="page-item"
                                    th:each="page: ${#numbers.sequence(start, end)}"
                                    th:classappend="${boards.number eq page-1} ? 'active' : ''"
                                >
                                    <a class="page-link" th:inline="text"
                                       th:onclick="'javascript:page(' + ${page - 1} + ')'"
                                    >[[${page}]]</a>
                                </li>

                                <li class="page-item" th:classappend="${boards.last}?' disabled'">
                                    <a class="page-link"
                                       th:onclick="'javascript:page(' + ${boards.number + 1} + ')'"
                                    >다음</a>
                                </li>
                            </ul>
                        </nav>

                        <div class="row" style="height: 40px" th:object="${boardSearchDto}">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5"  style="display: flex">
                                <!-- 상품 등록일 -->
                                <select class="form-control" th:field="*{searchDateType}">
                                    <option value="all" >전체기간</option>
                                    <option value="1d">1일</option>
                                    <option value="1w">1주</option>
                                    <option value="1m">1개월</option>
                                    <option value="6m">6개월</option>
                                </select>
                                <!-- 상품판매 상태 -->
                                <select class="form-control" th:field="*{searchTypeStatus}">
                                    <option value="">태그(전체)</option>
                                    <option value="ADMIN">공지</option>
                                    <option value="NORMAL">일반</option>
                                    <option value="REVIEW">리뷰</option>
                                </select>
                                <!-- 상품명, 등록자 선택 -->
                                <select class="form-control" th:field="*{searchBy}">
                                    <option value="title">제목</option>
                                    <option value="createdBy">등록자</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <div style="display: flex">
                                    <input type="text" class="form-control" placeholder="검색어 입력" th:field="*{searchQuery}"/>
                                    <button id="searchBtn" type="submit" class="btn btn-primary mb-3">검색</button>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $("#searchBtn").on("click", function(e) {
                    e.preventDefault(); // submit 방지
                    page(0);
                });

    function page(page) {
        //입력한 값을 전부 가지고 온다.
        var searchDateType = $("#searchDateType").val();
        var searchTypeStatus = $("#searchTypeStatus").val();
        var searchBy = $("#searchBy").val();
        var searchQuery = $("#searchQuery").val();

        //주소 이동
        location.href = "/posts/list/" + page
                      + "?searchDateType=" + searchDateType
                      + "&searchTypeStatus=" + searchTypeStatus
                      + "&searchBy=" + searchBy
                      + "&searchQuery=" + searchQuery;
    }

    </script>
</th:block>

</html>