<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">게시글 수정</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="row justify-content-center">
                        <div class="col-lg-8">

                            <h2 class="mb-4">리뷰 수정</h2>

                            <form id="postForm" name="postForm" class="contact-form" method="post" action="/update">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="movieId">영화</label>
                                            <select class="form-control" id="movieId" name="movieId">
                                                <option value="1" th:selected="${review.movieId} == '1'">웡카</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="subject">제목</label>
                                            <input class="form-control form-control-name" name="subject" id="subject"
                                                   type="text" required th:value="${review.subject}">
                                            <label for="rate">별점</label>
                                            <input class="form-control form-control-name" name="rate" id="rate"
                                                   type="text" required th:value="${review.rate}">
                                        </div>
                                        <div class="form-group">
                                            <label for="editor">글쓰기</label>
                                            <div id ="editor" th:utext="${review.content}"></div>
                                            <textarea name="content" style="display:none;"></textarea>
                                        </div>
                                        <input type="hidden" name="reviewId" th:value="${review.reviewId}" />
                                        <input type="hidden" name="pageNum" th:value="${pageNum}" />
                                        <input type="hidden" name="searchKey" th:value="${searchKey}" />
                                        <input type="hidden" name="searchValue" th:value="${searchValue}" />
                                        <button class="btn btn-primary solid blank mt-3" type="button"
                                                onclick="beforeSubmit(); return false;">
                                            리뷰 수정하기
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 각 페이지의 JS가 작성될 위치지정 -->
<th:block layout:fragment="script">
    <script th:src="@{plugins/ckeditor5/build/ckeditor.js}"></script>
    <script th:inline="javascript">
        let myEditor;
ClassicEditor
.create( document.querySelector( '#editor' ),{
      ckfinder: {
              uploadUrl : '/reviewImgUpload' //이미지 request 경로 지정
      }
} )
.then(editor => {
  myEditor = editor; //생성한 에디터 객체
})
.catch( error => {
console.error( error );
} );

function beforeSubmit(){
  const content = myEditor.getData(); //에디터창에 입력한 데이터 가져오기
  const f = document.postForm;
  if(f.subject.value == ' '){
          alert(' 제목을 등록해주세요'); return;
  }
  if(content == ' '){
          alert(' 내용을 등록해주세요'); return;
  }
      f.content.value =  content; //textarea에 에디터에 입력한 내용을 넣어준다.
      f.submit(); //전송
}
    </script>
</th:block>

</html>